.container {
    color: black;
    font-weight: bolder;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: navajowhite;
    font-size: 30px;
    display: flex;
    align-content: center;
    transform: scale(1);
    transition: all 350ms;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.input {
    margin-bottom: 100px;
    width: 300px;
}

.inputButton {
    width: 100%;
    margin-top: 10px;
}